.content-container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.cart-display-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.delivery-detail-container{
    flex: 1;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* margin-left: 10vw; */
}

.cart-card{
    background-color: rgba(255, 246, 246, 1);
    display: flex;
    height: 30vh;
    gap: 2vw;
    border-radius: 10px;
    position: relative;
    padding: 4vh 2vh;
}

input[type="checkbox"] {
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 2vw;
    height: 2vw;
}


.cart-image-container{
    flex: 2;
}

.cart-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-description-container{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.title-container h2{
    margin: 0;
    color: rgba(169, 85, 52, 1);
    font-size: 3rem;
    font-weight: 700;
}

.size-text{
    margin: 0;
    color: rgba(169, 85, 52, 0.6);
    font-size: 2rem;
}

.size-text-description{
    margin: 0;
    color: rgba(169, 85, 52, 1);
    font-size: 1.8rem;
    font-weight: 300;
}

.detail-table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2vh;
}

.detail-table-header{
    margin: 0;
    color: rgba(169, 85, 52, 0.6);
    font-size: 2rem;
}

.detail-table-data{
    margin: 0;
    color: rgba(169, 85, 52, 1);
    font-size: 1.8rem;
    font-weight: 300;
}

.button-container{
    display: flex;
    justify-content: center;
}

.checkout-btn{
    background-color: rgba(169, 85, 52, 1);
    padding: 1vh 8vw;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2vh;
    /* align-items: center; */
}

.label-container{
    display: flex;
    justify-content: start;
    width: 100%;
}

label{
    color: rgba(169, 85, 52, 0.6);
    font-size: 1.7rem;
    font-weight: 700;
    text-align: start;
}

input[type="text"]{
    height: 8vh;
    width: 100%;
    border-radius: 8px;
}

.pay-button{
    background-color: rgba(169, 85, 52, 1);
    width: 80%;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
}