<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/aboutus.css" />
	</head>
	<body>
		<div class="container">
			<div class="first-page">
				<nav class="navbar">
					<div class="navbar-menu">
						<div class="navbar-item">
							<a href=""
								><img src="../assets/icons/logo.png" class="navbar-logo" alt=""
							/></a>
						</div>
						<div class="navbar-item">
							<a href="index.html" class="navbar-link">Home</a>
						</div>
						<div class="navbar-item">
							<a href="aboutus.html" class="navbar-link">About Us</a>
						</div>
						<div class="navbar-item">
							<a href="product.html" class="navbar-link">Products</a>
						</div>
						<div class="navbar-item">
							<a href="location.html" class="navbar-link">Location</a>
						</div>
						<div class="navbar-item">
							<a href="registration.html" class="navbar-link" id="register-link"
								>Register</a
							>
						</div>
						<div class="navbar-item">
							<a href="cart.html" class="navbar-cart-link"
								><img src="../assets/icons/cart.png" alt="" />Cart</a
							>
						</div>
					</div>
				</nav>
				<div class="header">
					<marquee behavior="" direction=""
						>10% off at happy hour from 2 PM to 5 PM every Wednesday and
						Friday</marquee
					>
				</div>
				<div class="first-content">
					<div class="image-container background-image">
						<img src="../assets/about-us/About us-5.png" alt="" />
						<div class="text-overlay">
							<h1>Kopsie</h1>
							<p>Kopi ga Sie?</p>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="horizontal-page">
					<div class="horizontal-child">
						<div class="image-container horizontal-child">
							<img src="http://drive.google.com/uc?export=view&id=1tFdIKmrUcvGjnv030n8pnr2LNI_PXSQc" alt="" />
						</div>
					</div>
					<div class="horizontal-child">
						<h1 class="title-header">Our Histrory</h1>
						<p class="content-description">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
							assumenda nostrum, odio dicta velit magnam enim nobis accusamus
							labore provident numquam doloremque expedita natus quaerat eos
							pariatur autem quam quod?
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione alias nemo blanditiis incidunt quis, numquam cupiditate voluptates! Nam quia voluptatum fugit culpa fugiat. Odio ratione repellendus, atque perspiciatis nulla odit.
						</p>
					</div>
				</div>
				<h1 class="title-header" style="margin: 5vh 0;">Our Bombastic Coffee</h1>

				<div class="grid-container">
					<div class="grid-item merge-row-4">
						<img src="../assets/products/product-3.avif" alt="">
					</div>
					<div class="grid-item merge-row-2">
						<img src="../assets/products/product-8.png" alt=""> 
					</div>
					<div class="grid-item merge-row-3">
						<img src="../assets/products/product-6.avif" alt="">
					</div>
					<div class="grid-item merge-row-3">
						<img src="../assets/products/product-4.avif" alt="">
					</div>
					<div class="grid-item merge-row-2">
						<img src="../assets/about-us/About us-5.png" alt="">
					</div>
					<div class="grid-item merge-row-4">
						<img src="../assets/products/product-1.jpg" alt="">
					</div>
					<div class="grid-item merge-row-3-column-2">
						<img src="../assets/products/product-2.avif" alt="">
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="upper-part">
				<div class="left">
					<img src="../assets/icons/logo halal.png" alt="Halal Logo" class="halal-logo"/>
					<p>Hak Cipta © 2023 <span>PT Kopsie Indonesia</span></p>
					<br />
					<div class="icon">
						<a href="https://instagram.com" target="_blank"><img src="../assets/icons/ig.png" alt="Instagram" width="30px"/></a>
						<a href="https://tiktok.com" target="_blank"><img src="../assets/icons/tiktok.png" alt="TikTok" width="30px"/></a>
						<a href="https://linkedin.com" target="_blank"><img src="../assets/icons/linkedin.png" alt="LinkedIn" width="30px"/></a>
					</div>
				</div>
				<div class="right">
					<p class="loc">Our Location</p>
					<br />
					<p>Plaza Indonesia, DKI Jakarta, Indonesia</p>
					<br />
					<a href="https://goo.gl/maps/CWVAZUvQNYb8azSM9" target="_blank"><img src="../assets/icons/map.png" alt="Kopsie Location" width="75%"/></a>
				</div>
			</div>
			<div class="lower-part">
				<p class="contact">
					Contact Us 0812-1901-830
					<a href="https://whatsapp.com" target="_blank"><img src="../assets/icons/WhatsApp.png" alt="" width="18px"/></a>WhatsApp Only
				</p>
			</div>
			
		</footer>
	</body>
</html>
