<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kopsie | Home Page</title>
    <!-- CSS-->
    <link rel="stylesheet" href="../css/home.css" />
	<link rel="stylesheet" href="../css/style.css">
    <!--Font-->
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
	<div class="container">
		<div class="first-page">
			<nav class="navbar">
				<div class="navbar-menu">
					<div class="navbar-item">
						<a href=""
							><img src="../assets/icons/logo.png" class="navbar-logo" alt=""
						/></a>
					</div>
					<div class="navbar-item">
						<a href="index.html" class="navbar-link">Home</a>
					</div>
					<div class="navbar-item">
						<a href="aboutus.html" class="navbar-link">About Us</a>
					</div>
					<div class="navbar-item">
						<a href="product.html" class="navbar-link">Products</a>
					</div>
					<div class="navbar-item">
						<a href="location.html" class="navbar-link">Location</a>
					</div>
					<div class="navbar-item">
						<a href="registration.html" class="navbar-link" id="register-link"
							>Register</a
						>
					</div>
					<div class="navbar-item">
						<a href="cart.html" class="navbar-cart-link"
							><img src="../assets/icons/cart.png" alt="" />Cart</a
						>
					</div>
				</div>
			</nav>
			<div class="header">
				<marquee behavior="" direction=""
					>10% off at happy hour from 2 PM to 5 PM every Wednesday and
					Friday</marquee
				>
			</div>
			<div class="first-content">
				<div class="image-container background-image">
					<img src="../assets/home/home.avif" alt="" />
					<div class="text-overlay">
						<h1>Kopsie</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="mid2">
			<h2 class="title-header">Our Products</h2>
			<div class="product-container">
				<div class="product-card">
					<div class="product-img">
						<img src="../assets/products/product-3.avif" alt="Kopie" width="100%" />
					</div>
					<div class="product-description">
						<h3>Kopie</h3>
					</div>
				</div>
				<div class="product-card">
					<div class="product-img">
						<img src="../assets/products/product-12.avif" alt="Kookies" width="100%" />
					</div>
					<div class="product-description">
						<h3>Kookies</h3>
					</div>
				</div>
			</div>
		</div>
		<h2 class="title-header">Workshop</h2>
		  	<div class="product-container">
				<div class="product-img">
					<img src="../assets/home/home-3.avif"/>
				</div>
				<div class="workshop-description">
					<h4 class="kd">Kookies Decoration</h4>
					<p class="kd1">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text ever
						since the 1500s, when an unknown printer took a galley of type and
						scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged. I
					</p>
				</div>
			</div>
		</div>
		<footer>
			<div class="upper-part">
				<div class="left">
					<img src="../assets/icons/logo halal.png" alt="Halal Logo" class="halal-logo"/>
					<p>Hak Cipta © 2023 <span>PT Kopsie Indonesia</span></p>
					<br />
					<div class="icon">
						<a href="https://instagram.com" target="_blank"><img src="../assets/icons/ig.png" alt="Instagram" width="30px"/></a>
						<a href="https://tiktok.com" target="_blank"><img src="../assets/icons/tiktok.png" alt="TikTok" width="30px"/></a>
						<a href="https://linkedin.com" target="_blank"><img src="../assets/icons/linkedin.png" alt="LinkedIn" width="30px"/></a>
					</div>
				</div>
				<div class="right">
					<p class="loc">Our Location</p>
					<br />
					<p>Plaza Indonesia, DKI Jakarta, Indonesia</p>
					<br />
					<a href="https://goo.gl/maps/CWVAZUvQNYb8azSM9" target="_blank"><img src="../assets/icons/map.png" alt="Kopsie Location" width="75%"/></a>
				</div>
			</div>
			<div class="lower-part">
				<p class="contact">
					Contact Us 0812-1901-830
					<a href="https://whatsapp.com" target="_blank"><img src="../assets/icons/WhatsApp.png" alt="" width="18px"/></a>WhatsApp Only
				</p>
			</div>
			
		</footer>
	</div>
  </body>
</html>
