<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../css/registration.css" />
		<link rel="stylesheet" href="../css/style.css">
		
	</head>
	<body>
		<div class="container">
			<div class="first-page">
				<nav class="navbar">
					<div class="navbar-menu">
						<div class="navbar-item">
							<a href=""
								><img src="../assets/icons/logo.png" class="navbar-logo" alt=""
							/></a>
						</div>
						<div class="navbar-item">
							<a href="index.html" class="navbar-link">Home</a>
						</div>
						<div class="navbar-item">
							<a href="aboutus.html" class="navbar-link">About Us</a>
						</div>
						<div class="navbar-item">
							<a href="product.html" class="navbar-link">Products</a>
						</div>
						<div class="navbar-item">
							<a href="location.html" class="navbar-link">Location</a>
						</div>
						<div class="navbar-item">
							<a href="registration.html" class="navbar-link" id="register-link"
								>Register</a
							>
						</div>
						<div class="navbar-item">
							<a href="" class="navbar-cart-link"
								><img src="../assets/icons/cart.png" alt="" />Cart</a
							>
						</div>
					</div>
				</nav>
				<div class="header">
					<marquee behavior="" direction=""
						>10% off at happy hour from 2 PM to 5 PM every Wednesday and
						Friday</marquee
					>
				</div>
				<div class="first-content">
					<div class="content-img">
						<img src="../assets/home/home.avif" alt="" />
					</div>
					<div class="registration">
						<form class="resgistration-form" action="index.html">
							<h1>Login</h1>
							<div class="form-container">
								<input type="text" placeholder="Name">
								<input type="password" placeholder="Password">
								<div class="Gender">
									<label for="gender">Gender:</label>
									<select id="gender" name="gender">
										<option value="male">Male</option>
										<option value="female">Female</option>
									</select>
								</div>
								<input type="text" placeholder="Region">
							</div>
							<div class="account">
								<p>Already have an account? <a href="login.html">Login</a></p>
								<button class="button-account" >Create Account </button>
							</div>
						</form>
					</div>				
				</div>
			</div>
		</div>
		<footer>
			<div class="upper-part">
				<div class="left">
					<img src="../assets/icons/logo halal.png" alt="Halal Logo" class="halal-logo"/>
					<p>Hak Cipta © 2023 <span>PT Kopsie Indonesia</span></p>
					<br />
					<div class="icon">
						<a href="https://instagram.com" target="_blank"><img src="../assets/icons/ig.png" alt="Instagram" width="30px"/></a>
						<a href="https://tiktok.com" target="_blank"><img src="../assets/icons/tiktok.png" alt="TikTok" width="30px"/></a>
						<a href="https://linkedin.com" target="_blank"><img src="../assets/icons/linkedin.png" alt="LinkedIn" width="30px"/></a>
					</div>
				</div>
				<div class="right">
					<p class="loc">Our Location</p>
					<br />
					<p>Plaza Indonesia, DKI Jakarta, Indonesia</p>
					<br />
					<a href="https://goo.gl/maps/CWVAZUvQNYb8azSM9" target="_blank"><img src="../assets/icons/map.png" alt="Kopsie Location" width="75%"/></a>
				</div>
			</div>
			<div class="lower-part">
				<p class="contact">
					Contact Us 0812-1901-830
					<a href="https://whatsapp.com" target="_blank"><img src="../assets/icons/WhatsApp.png" alt="" width="18px"/></a>WhatsApp Only
				</p>
			</div>
		</footer>
	</body>
</html>